<?xml version="1.0" encoding="UTF-8"?>

<!-- *Time elements are in minutes -->
<config cycleTime="30" refreshTime="30" redrawTime="10">
    <calendars>
        <feed url="https://www.google.com/calendar/feeds/southlockportfire.com_8cmolovhrkt32lmpmv4161h4v0@group.calendar.google.com/private-4f3921c4532e8253e14e8641ceed31dc/full"/>
        <feed url="https://www.google.com/calendar/feeds/southlockportfire.com_c4mlfd1alll5jjs6faj28795oo@group.calendar.google.com/private-d496ec06b819d9bb677dd5843c159c83/full"/>
    </calendars>
    <m6takehome enabled="true" calendar="https://www.google.com/calendar/feeds/southlockportfire.com_91vcr9qle0nd63nk192v3hpln0@group.calendar.google.com/private-3c053ba45be96cb58dae4c8bd06d856e/full"/>
    <ticker enabled="true" httpPort="18888" authToken="boobies"/>
    <active911 enabled="false" deviceId="65630-UISN"/>
    <!-- future implementations -->
    <news enabled="false">
        <showlocal>true</showlocal>
        <rss>
        </rss>
    </news>
</config>
